<div class="back-section">
    <button pButton pRipple (click)="back()" label="Back" icon="pi pi-chevron-left" class="p-button-text"></button>
</div>
<div class="container">
    <div class="title">
        <h3>Employee Detail</h3>
    </div>
    <p-tabView (onChange)="selectTab($event)">
        <p-tabPanel *ngFor="let tab of tabs; let i = index" [selected]="i == selectedTabs">
            <ng-template pTemplate="header">
              <i [class]="tab.icon + ' mr-2'"></i>
              <span>{{ tab.header }}</span>
            </ng-template>
            <ng-template pTemplate="content">
              <ng-container [ngSwitch]="tab.type">
                <app-profile *ngSwitchCase="'profile'" [employee]="employee" (refreshEmployee)="getEmployeeDetail()"></app-profile>
                <app-work *ngSwitchCase="'work'" [employee]="employee"></app-work>
                <app-paycheck *ngSwitchCase="'paycheck'" [employee]="employee"></app-paycheck>
              </ng-container>
            </ng-template>
          </p-tabPanel>
    </p-tabView>
</div>

<app-loading [displayLoading]="isLoading"></app-loading>