.back-section {
    margin: 1rem 1.5rem;
}

.box {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 2rem;
}

.value {
    color: #a7a7a7;
    text-align: right;
    font-weight: lighter;
}

.total {
    text-align: right;
    font-weight: bold;
}